<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/logo-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/logo-16x16.png">
<link rel="manifest" href="/assets/images/site.webmanifest">
<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg">
<link rel="shortcut icon" href="/assets/images/logo-16x16.ico">
<meta name="apple-mobile-web-app-title" content="coda4microbiome">
<meta name="application-name" content="coda4microbiome">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="/assets/images/browserconfig.xml">
<meta name="theme-color" content="#ffffff">